{% extends 'linking/masterpage.html' %}
 {% block content %}
 {% load static %}
<img src="{% static 'image/img3.jpg' %}">
<h1>one</h1>
<h2>two</h2>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur laborum iste hic laboriosam earum corrupti totam eveniet magnam consequuntur eos placeat delectus officiis sunt quam adipisci
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quidem provident optio qui at, unde vero nemo error odit pariatur repudiandae atque, modi corporis aliquam alias consectetur
         non natus cum.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cum libero, mollitia excepturi asperiores tempora explicabo veritatis saepe possimus nam perferendis vel quae, itaque cupiditate? Vero temporibus repellendus laborum nemo?</p>
    {% endblock %}
